* {
  margin: 0;
  overflow-x: hidden; /* Quit the horizontal scrolling option*/
  --main-color: rgb(255, 255, 255);
  --primary-color: rgb(115, 106, 185);
  --secondary-color: rgb(244, 145, 152);
  --tertiary-color: rgb(177, 170, 213);
  --quaternary-color: rgb(66, 69, 112);
  --first-alt: rgb(43, 42, 47);
  --second-alt: rgb(51, 54, 63);
  --firts-text-color: rgb(37, 200, 246);
  --second-text-color: rgb(40, 211, 63);
  --text-color: #e7e7e7;
  --shadow: 0 0 10px -2px rgba(0, 0, 0, 0.63);
  --black-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.2);
  --illumination: -5px -5px 8px -2px rgb(255, 255, 255);
}

body {
  font-family: "Lato", sans-serif;
  /* font-family: "Sen", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

.side-bar {
  overflow-x: hidden;
  position: absolute;
  z-index: 999;
  background-color: var(--first-alt);
  height: 200vh;
  width: 300px;
  color: rgb(250, 250, 250);
  right: -22rem;
  transition: 0.6s ease;
  box-shadow: var(--shadow);
}

/* Properties container*/
/* Rename form container*/
.card-properties,
.rename-form {
  background-color: var(--second-alt);
  width: 200px;
  margin-top: 60px;
  margin-left: 25px;
  padding: 20px;
  border-radius: 5.5px;
  box-shadow: var(--shadow);
}

/* Properties */
.card-properties > h4,
.rename-form > h4 {
  color: var(--firts-text-color);
  font-size: 20px;
  margin: 4px 0 4px 0;
}
.card-properties > div {
  font-size: 16px;
}

.card-properties > div > span,
.rename-form > div > span {
  font-weight: bold;
}

/* Rename */
.input {
  margin-top: 7px;
  margin-bottom: 10px;
  padding: 7px;
  border-style: none;
  border-radius: 5.5px;
}

.btn {
  border-style: none;
  border-radius: 5.5px;
  background-color: var(--second-text-color);
  color: azure;
  padding: 7px;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
}

.hamburguer-menu {
  width: 25px;
  height: 20px;
  position: fixed;
  z-index: 1000;
  top: 35px;
  right: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-bar.change {
  transform: translateX(-22rem);
  transition: all 0.8s;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 5px;
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-5px, 4px);
  background-color: var(--main-color);
}
.change .line-2 {
  background-color: var(--main-color);
  opacity: 0;
}
.change .line-3 {
  transform: rotateZ(45deg) translate(-5px, -4px);
  background-color: var(--main-color);
}

.navbar {
  /* position: -webkit-sticky;  this Property and sticky doesn't match with overflow x property*/
  position: fixed;
  width: 94.9%;
  top: 0;
  padding: 30px;
  color: var(--text-color);
  background-color: var(--second-alt);
  box-shadow: var(--shadow);
  border-radius: 0 0 10px 10px;
  font-size: 18px;
}

.breadcrumbs {
  padding: 10px;
  font-size: 20px;
}

.breadcrumb-item {
  display: inline-block;
  margin: 0 3px 0 3px;
}

.breadcrumb-link {
  text-decoration: none;
  color: var(--second-text-color);
}

.breadcrumb-link:hover {
  color: rgb(35, 170, 53);
}

.current-dir {
  font-weight: 900;
}

.files-container {
  margin: 1.1em;
  font-size: 100px;
  color: var(--quaternary-color);
}

.file {
  display: inline-block;
}

.directory {
  display: inline-block;
}

i {
  margin: 10px;
  cursor: pointer;
}

p {
  font-size: 16px;
  cursor: pointer;
  transform: translate(15px, -25px);
  z-index: -900;
}

.menu {
  width: 12rem;
  height: 8rem;
  background-color: #f4f4f4;
  color: #333333;
  box-shadow: 2px 2px 6px -4px #999;
  border-radius: 5.5px;
  list-style: none;
  padding-left: 0;
  position: fixed; /*Makes the menu element position fixed as you please*/
}

.menu.off {
  transform: translate(-400%, -400%);
}

.menu-item {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 100;
  padding: 0 1rem;
  cursor: pointer;
}

.menu-item:hover,
.menu-item:active {
  color: #000;
  font-weight: 500;
}
