* {
  margin: 0;
  --main-color: rgb(255, 255, 255);
  --primary-color: rgb(115, 106, 185);
  --secondary-color: rgb(244, 145, 152);
  --tertiary-color: rgb(177, 170, 213);
  --quaternary-color: rgb(66, 69, 112);
  --text-color: #e7e7e7;
  --shadow: 0 0 10px -2px rgba(67, 75, 70, 0.63);
  --black-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.2);
  --illumination: -5px -5px 8px -2px rgb(255, 255, 255);
}

body {
  font-family: "Roboto";
}

.side-bar {
  position: absolute;
  z-index: 999;
  background-color: var(--tertiary-color);
  height: 200vh;
  width: 300px;
  color: rgb(250, 250, 250);
  right: -22rem;
  transition: 0.6s ease;
  box-shadow: var(--shadow);
}

.hamburguer-menu {
  width: 25px;
  height: 20px;
  position: fixed;
  z-index: 1000;
  top: 35px;
  right: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-bar.change {
  transform: translateX(-20rem);
  transition: all 0.8s;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--quaternary-color);
  border-radius: 5px;
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-5px, 4px);
  background-color: var(--main-color);
}
.change .line-2 {
  background-color: var(--main-color);
  opacity: 0;
}
.change .line-3 {
  transform: rotateZ(45deg) translate(-5px, -4px);
  background-color: var(--main-color);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 35px;
  color: var(--text-color);
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  border-radius: 0 0 10px 10px;
  font-size: 18px;
}

.files-container {
  margin: 1.1em;
  font-size: 100px;
  color: var(--quaternary-color);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1em;
}

i {
  margin: 10px;
  cursor: pointer;
}

p {
  font-size: 15px;
  margin: 5px;
  cursor: pointer;
}
